@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c7e1f9;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-weight: 700;
    font-size: 2em;
    margin: -150px 0 40px;
}

.launch-time {
    display: flex;
    transform: scale(1.5);
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.time h2 {
    margin: 5px;
}

@media(max-width:500px) {
    h1 {
        font-size: 35px;
    }
    .time {
        margin: 5px;
    }
    .time h2 {
        font-size: 15px;
    }
    .time small {
        font-size: 12px;
    }
}


